.body{
    background-color: aqua;
}

.Card-Nome{
    display: flex;
    justify-content: space-between;
}
 

.roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 70;
    font-style: normal;
}

