*{
    margin: 0;
    padding: 0;
  }
  
body{
    background-color:#FE0213 !important;
    color: #fff !important;
    font-family: 'Poppins', sans-serif;
}

.login{
    width: 314px;
    height: 314px;
    padding: 20px;
    height: min-content;
    border-radius: 5px;
    color: black;
    background-color: #D9D9D9;
    display: flex;
    margin-top: 19%;
    margin-left: 75%;
}

#btn-enviar{
    background-color: #FF5A5A;
    color: black;
    margin-right: 20px;
}

#btn-cadastrar{
    background-color: #25CA49 ;
    color: black;
}

.image-container{
    display: flex;
    margin-top: 10%;
}


